.parent-container {
  position: relative;
}

.job-container {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 3s ease-out, transform 0.5s ease-out;
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  border-style: solid;
  border-color: #f0833a;
  margin-bottom: 20px;
  padding-inline: 2%;
}
.visible-job {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 2s ease-out;
}

.left-column {
  justify-self: center;
  align-self: center;
}

.right-column {
  display: grid;
  grid-template-rows: auto auto;
}

.job-title {
  display: flex;
  align-items: center;
  color: var(--secondary-accent-font);
}

.company-logo {
  width: 250px;
  height: 250px;
}

.job-details {
  font-size: 1.375rem;
  color: #ffffff;
}

.job-heading {
  margin-block-end: 0;
}

.hidden {
  transition: all 1s ease-out 1s;
  transform: translate(-110%);
}
.job-cover {
  opacity: 1;
  position: absolute;
  background: #f0833a;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 1s ease-in;
  border-style: solid;
  border-color: #f0833a;
  border-width: 20px;
}
